.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1000;
  display: flex;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 550px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modalCloseButton {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
}
